In [17]:
import pandas as pd
import os

In [18]:
base_path = '/Users/ziyuancui/Desktop/2019Winter/273/project/data/facial_expressions-master/'
label_file = base_path + 'data/legend.csv'
image_file = base_path + 'images'

In [7]:
df = pd.read_csv(label_file)

In [10]:
df.head()

  user.id                            image   emotion
0     628  facial-expressions_2868588k.jpg     anger
1     628  facial-expressions_2868585k.jpg  surprise
2     628  facial-expressions_2868584k.jpg   disgust
3     628  facial-expressions_2868582k.jpg      fear
4   dwdii           Aaron_Eckhart_0001.jpg   neutral

### Number of Classes

In [11]:
df['emotion'].unique()

array(['anger', 'surprise', 'disgust', 'fear', 'neutral', 'happiness',
       'sadness', 'contempt', 'NEUTRAL', 'SADNESS', 'DISGUST', 'FEAR',
       'SURPRISE', 'ANGER', 'HAPPINESS'], dtype=object)

The total number of classes is 8.

### Number of Labels

In [16]:
df.shape

(13690, 3)

### Number of Images

In [19]:
images_dir = os.listdir(image_file)

In [23]:
len(images_dir)

13718